@font-face{
    font-family: 'Inter';
    src: url("./Fonts/Inter_18pt-Regular.ttf") format('truetype');

}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    font-size: 16px;
    background-color:#F5F9FC;

}

/*PRACTICE*/

/*PRACTICE*/
#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 2px blue;
}
    #content-container{
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 2px purple;
    }

        #modal-overlay{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            z-index: 100; 
            border: solid 4px red;
        }
        /*modal-overlay CLASS TOGGLING*/

            #modal-overlay.visible {
                display: flex;
            }
    
        #content-container{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction:column;
            width: 95%;
            height: 90vh;
            background-color: #E4EEF6;
            color: #333333;
            overflow-y:scroll;
            overflow-x:hidden;
            border: solid 4px #CCCCCC;
        }
        /*content-container CLASS TOGGLING*/
            .opacity{
                opacity: 0.5;
            }


        .main-title{
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: #0F2B46;
        
        }

    .fa-plus {
        font-size: 24px;
        border: solid 1px black;
        background-color:#F39C12;
    }

    .fa-plus:hover{
        cursor: pointer;
    }

    .type-task-space{
        display:flex;
        gap: 4px;
        /*border:solid 2px blue;*/
    }

    #type-task{
        width: 224px;
        font-size: 16px;
    }

    #task-list-display{
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 80vw;
        height: 60vh;
        /*border: solid 2px black;*/
    }

        #filter-button-container{
            display: flex;
            margin: auto;
            justify-content: center;
            max-width:700px;
            gap: 32px;
            flex-wrap: wrap;
        
        }
            .filter-btn{
                font-size:16px;
                border:none;
                font-family: Inter;
                background-color: #7A8FA6;/*#78A3CF*/
                color: #1E2A38;
                height: 32px;
                min-width: 152px;
                cursor: pointer;
                border-radius: 4px;
            }
            #filter-high-priority{
                background-color:  #E74C3C;
            }
            #filter-medium-priority{
                background-color: #F39C12;
            }
            #filter-low-priority{
                background-color:#5D9CEC;
            }

        .list-of-tasks{
            list-style:none;
            padding-left: 0; 
            margin-left: 0;
            margin-top: 32px;
            display: flex;
            align-items:center;
            flex-direction: column;
            gap: 16px;
            
        }
            .task-li{
                font-size: 16px;
                font-family: 'Inter';
                display: flex;
                flex-direction: column;
                background-color: #F5F9FC;
                color: #1E2A38;
                padding: 8px;
                width: 568px;
                height: 96px;
                border-radius: 8px;
                overflow-wrap: break-word;
                
                
                /*border: solid 3px darkgreen;*/
                
            }
                .task-div{
                    display: flex;
                    flex-flow: column wrap;
                    overflow-wrap: break-word;
                    
                }
                    .checkntext-div{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                width: 568px;
                                
                                
                                
                            }
                        .checkntext-div-jr{
                            display: flex;
                            min-width: 0;
                        }
                            .task-text{
                            font-family:'Inter';
                            white-space: normal;
                            flex-grow: 1;
                            min-width: 0;
                            
                            }
                    

                    .button-div{
                                display: flex;
                                flex-direction: row;
                            }
                        .edit-btn{
                            font-size: 16px;
                            box-shadow:none;
                            border:none;
                            cursor: pointer;
                            margin-right: 8px;
                            width: 64px;
                            height: 32px;
                            background-color: #2980B9;/* (highli)#3299D9*/
                            color: white;
                            border-radius: 4px;
                        }
                        .delete-btn{
                            font-size: 16px;
                            box-shadow:none;
                            border:none;
                            cursor: pointer;
                            width: 64px;
                            height: 32px;
                            background-color:#C0392B;
                            color: white;
                            border-radius: 4px;
                        }

                    .completed-task{
                        text-decoration: line-through;
                        opacity: 0.3;
                    }
                        .completed-task:hover{
                            cursor: pointer;
                            opacity: 0.6;
                        }
                        .faded-button{
                            opacity:0.3;
                        }
                        

                .empty-message {
                color: black;
                font-style: italic;
                margin-top: 10px;
                display: none;
                
                }

#edit-pop-up{
    padding: 16px;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color:#5a7da0; 
    border: solid 2px #616466;
    color: white;
    display: flex;
    border-radius: 4px;
    border-radius: 4px;
}
    #pop-up-items-screen{
        margin-top: 24px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-items: flex-start;
       
    }

        #pop-up-1st-half{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
            .edit-popup-option{
                display:flex;
                justify-items: center;
                align-items: center;
                height: 32px;
                font-weight: 650;
            }
                .fa-clock{
                    font-size: 24px;
                    margin-right: 8px;
                }
                .fa-calendar-days{
                    font-size: 24px;
                    margin-right: 8px;
                }
                .fa-bell{
                    font-size: 24px;
                    margin-right: 8px;
                }
                .fa-repeat{
                    font-size: 24px;
                    margin-right: 8px;
                }
                .edit-popup-subtitles{
                    font-family: Inter;
                    font-size: 16px;
                }
        #pop-up-2nd-half{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
            #priority-flag-container{
                display: flex;
                justify-content: space-between;
            }

            .fa-flag{
                font-size: 32px;
                margin: 0px 8px;
            }
                #high-priority-flag{
                    
                    color: #E60023;
                }

                #medium-priority-flag{
                    
                    color: #f8b343;
                }

                #low-priority-flag{
                    
                    color: #5D9CEC;
                }

    #edit-tasktext{
        width: 90%;
        height: 20px;
    }
    #button-container{
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    #save-btn{
        font-size: 16px;
        background-color: #396DA1;
        color: white;
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 16px;
        cursor:pointer;
    }

    #cancel-btn{
    font-size:16px;
    background-color: #B13636;
    color: white;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    }
