@font-face{
    font-family: 'Inter';
    src: url("./Fonts/Inter_18pt-Regular.ttf") format('truetype');

}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-size: 16px;
    background-color: #577596;

}

/*PRACTICE*/

/*PRACTICE*/

#main-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    width: 90%;
    height: 90vh;
    background-color:#2196F3;
    border: solid 4px #F2A122;
}
    .main-title{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    
    }

.fa-plus {
    font-size: 20px;
    border: solid 1px black;
}

.fa-plus:hover{
    cursor: pointer;
}

.type-task-space{
    display:flex;
    font-size: 22px;
    gap: 4px;
    /*border:solid 2px blue;*/
}

#type-task{
    width: 224px;
}

#task-list-display{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80vw;
    height: 60vh;
    border: solid 2px black;
}

    .list-of-tasks{
        list-style:none;
        padding-left: 0; 
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
        .task-li{
            font-family: 'Inter';
            display: flex;
            flex-direction: column;
            /*border: solid 3px darkgreen;*/
            
        }

            .task-div{
                display: flex;
                flex-flow: column wrap;
            }
                .task-text{
                font-family:'Inter';
                display: inline;
                }
                .checkntext-div{
                    display: flex;
                    flex-direction: row;
                }

            .button-div{
                    display: flex;
                    flex-direction: row;
                }
                .edit-btn{
                    cursor: pointer;
                    margin-right: 8px;
                    width: 64px;
                    height: 32px;
                    background-color:#F2A122;
                }
                .delete-btn{
                    cursor: pointer;
                    width: 64px;
                    height: 32px;
                    background-color:red;
                }

        .completed-task{
            text-decoration: line-through;
            opacity: 0.3;
        }
            .completed-task:hover{
                cursor: pointer;
                opacity: 0.6;
            }
            .faded-button{
                opacity:0.3;
            }
            

    .empty-message {
    color: black;
    font-style: italic;
    margin-top: 10px;
    display: none;
    
    }

#edit-pop-up{
    margin: 0 auto;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    height: 20vh;
    gap: 20px;
    background-color:rgb(211, 157, 86);
    border: solid 2px black;
}
    #edit-tasktext{
        width: 90%;
        height: 20px;
    }
        #button-container{
            display: flex;
            flex-direction: row;
            gap: 24px;
        }

            #save-btn{
                background-color: green;
                color: white;
                width: 80px;
                height: 40px;
                border: solid 1px black;
                border-radius: 16px;
                cursor:pointer;
            }

            #cancel-btn{
                background-color: red;
                color: white;
                width: 80px;
                height: 40px;
                border: solid 1px black;
                border-radius: 16px;
                cursor:pointer;
            }
